In [1]:
#Jordy Jordan
#1 Write a function that computes the volume of a sphere given its radius.

def vol(rad): 
    return (4 * 3.14 * rad ** 3) / 3 #I remember doing this on a past class so it was rather refeshing

In [2]:
vol(2)

33.49333333333333

In [3]:
#2 Write a function that checks whether a number is in a given range (Inclusive of high and low)

def ran_check(num,low,high):
    
    #I also remember doing this 
    if num in range(low,high+1):#+1 becouse we want to include every number
        print("The number ", num ," is in a range")
    else:
        print("The number ", num ," is out of the range")

In [4]:
ran_check(5,2,7)

The number  5  is in a range

In [5]:
#3 Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

def up_low(s):
    up=0 #upper
    low=0 #lower
    #in this for statement it will look at each letter
    for i in s:
        if i.isupper():#if the letter is upper then it adds a number to up
            up+=1
        elif i.islower():#if the letter is lower then it adds a number to low
            low+=1
    print("There are ", up ," upper charters!")
    print("There are ", low ," lower charters!")

In [6]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

There are  4  upper charters!
There are  33  lower charters!

In [7]:
#4 Write a Python function that takes a list and returns a new list with unique elements of the first list.

def unique_list(lst):
    
    unique = []#creating another list to store the unique characters
 
    for i in lst:#looks in the unique_list/lst
        if i not in unique:#adds the character/number if is not in the empty list
            unique.append(i)
    
    for i in unique:#prints the list of unique characters
        print (i)

In [8]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

1
2
3
4
5

In [9]:
#5 Write a Python function to multiply all the numbers in a list.

def multiply(numbers):#numbers is a list
    ans = 1 #it starts at 1 because it will muliply by 1 and I dont want my answer to be 0
    for i in numbers:
        ans = ans * i#multiplies everything
    return ans #prints the answer

In [10]:
multiply([1,2,3,-4])

-24

In [11]:
#6 Write a Python function that checks whether a passed string is palindrome or not.
#This was by far one of the most challenging ones
def palindrome(s):
    #I need help with this part, so looked it up and this was moslty what people suggested
    s = s.replace(' ','') #It removes the spaces so that it doesn't have an effect on the result
    return s == s[::-1] #It looks from the start to the end and it checks if the string is the same once it's reversed

In [12]:
palindrome('helleh')

True

In [13]:
#7 Write a Python function to check whether a string is pangram or not.

import string
def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alpha = set(alphabet) #The alphabet in set (I also look this up) but is just to contain related items in one variable
    
    str1=str1.lower() #make everything low before doing anything at all

    str1=str1.replace(' ','') #I used this on the last exercise so I know its important to eliminate white spaces
    
    #got an error "TypeError: '<=' not supported between instances of 'set' and 'str'"
    str1 = set(str1) #I guess I need to make it the same as alpha
    
    return alpha <= str1 #I had to look this part up because it was really confusing

In [14]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [15]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'